
@media screen and (max-width:991px){
    .about-middle .middle-section-image {
        margin-top: 0;
    }
    .top-space {
        margin-top: 82px;
    }
    .top-space.learn-new-thing, .login-page .top-space, .product-detail.top-space  {
        margin-top: 25px;
    }
    .footer-section{
        background: url(../images/footermobilebg.svg) no-repeat center center, linear-gradient(180deg, #160F39 0%, #330A32 100%);
    }
    .desktop-header, .mobile-hide{
        display: none;
    }
    .mobile-header {
        background: #fff;
        padding: 10px 15px;
    }
    .mainmobile-menu {
        z-index: 999;
        position: relative;
    }
    .mobile-menu-btm {
        padding: 0% 10%;
        text-align: left;
    }
    .slider-information .red-color_btn{
        margin-bottom: 20px;
    }
    .achivements-box .icon-box_left{
        width: 25%;
    }
    .achivements-box .icon-box_right{
        width: 75%;
    }
    .achivements-box .icon-box_right h3{
        font-size: 26px;
    }
    .about-brand h3{
        font-size: 52px;
        line-height: 67px;
    }
    
    .for-what_design h3{
        font-size: 46px;
        line-height: 45px;
    }
    .for-what_design p{
        font-size: 14px;
    }
    .contact-form h3, .contact-data h3{
        font-size: 38px;
    }
    .mobile-header{
        position: fixed;
        z-index: 999999;
        padding: 27.21px 0;
        /* background: url(../images/header-bg.jpg) no-repeat;
        background-size: cover;
        background-position: top; */
        background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
    }
    .mainmobile-menu .cart-icon{
        float: left;
        margin-right: 20px;
        margin-top: -5px;
    }
    .user-account .menu-links.acc-details {
        margin-top: 20px;
    }
    .add-border-box {
        width: 100%;
        background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
        max-width: 650px;
        border: 2px solid #008000;
        border-image-source: linear-gradient(92.97deg, #F9C5A5 5.27%, #BD517F 50.59%, #09A5A4 95.9%);
        border-radius: 8px;
        padding: 32px;
        border-image-slice: 4;
        overflow: hidden;
        margin: 0 auto;
    }
    .fild .text-content{
        text-align: center;
    }
    .fild .text-content.change-password{
        text-align: unset;
        padding-left: 20px;
    }
    .account-detail{
        background: url(../images/user-acoountDetailsMobilebg.svg) no-repeat center center,linear-gradient(180deg, #160F39 0%, #330A32 100%);
        background-position: center;
    }
    .user-account{
        background: url(../images/mobilebg.png) no-repeat center center, linear-gradient(316.4deg, #000000 25.61%, #841847 86.55%);
        background-size: inherit;
        background-position: left;
     }
     .user-account .menu-links ul.myaccount li {
         margin-left: 0px;
     }
     .btn-submit.more{
        border: none;
        background: none;
        color: #C992EF;
     }
     .account-white-box .data-table td:nth-last-child(2), .account-white-box .data-table th:last-child {
        padding-left: 20px;
    }
    .section-title.contatc-us{
        font-size: 56px;
        line-height: 63px;
        padding-top: 50px;
    }
    .contact-bg form{
        margin-top: 1rem !important;
    }
    .banar-content{ 
        background: url(../images/learn-new-things-mobile.svg) no-repeat center 125px, linear-gradient(180deg, #160F39 0%, #330A32 100%);
        padding: 3.75rem 0;
        background-size: contain;
    }
    header .cart-icon .cart-number{
        left: 14px;
        top: -1px;
        height: 11px;
        width: 11px;
    }
    .fild .form-control {
        border-image-source: linear-gradient(92.97deg, rgb(249,197,165, 0.3) 5.27%, rgb(189,81,127, 0.3) 50.59%, rgb(9,165,164, 0.3) 95.9%);
    }
    .contact-us .contact-bg {
        padding: 0 10px;
    }
    .fitness-img {
        margin-right: 0px;
    }
    .checkout-page{
        padding: 8rem 0 6rem 0;
    }
    .listing-title .section-title  {
        margin-top: 0px;
    }
}
@media screen and (min-width:992px){
    .mobile-header{
        display: none;
    }
    .mobile-account-details-txt {
        display: none;
    }
    .desktop-hide{
        display: none;
    }
}

@media screen and (max-width:1199px){
    .thank-you .card-body{
        padding: 20px;
    }
    .thank-you .section-title {
        margin-top: 0;
    }
    .thank-you .card{
        margin: 0;
    }
    
    .navigation-menu ul li a{
        font-size: 14px;
    }
    .desktop-header .login-link span{
        font-size: 14px;
    }
    .desktop-header .login-link{
        padding: 10px 15px;
    }
    .banar-horizontal,.banar-vertical{
        display: none;
    }
    .learn-grid .card{
        height: 100%;
        width:100%;
    }

    .product-detail .card{
        height: max-content;
    }
}

@media screen and (max-width:991px){
    .account-white-box .title{
        font-size: 36px;
        padding-top: 0;
        line-height: 44px;
    }
    .account-white-box .content .description{
        padding-bottom: 0;
    }
    .middle-section .message-box, .account-details-txt{
        display: none;
    }
    .middle-section{
        padding: 4rem 0 4rem;
    }
    .middle-section .section-title,
    .middle-section .section-description{
        text-align: center;
    }
    .middle-section .btn-submit{
        margin: 0 auto;
        display: flex;
        margin-bottom: 3rem;
    }
    .banar-content .row{
        display: flex;
        flex-flow: column-reverse;
    }
    .banar-content .message-box,
    .banar-content .horizontal-box{
        display: none;
    }
    .banar-content .section-title{
        margin-top: 6rem;
        text-align: center;
    }
    .banar-content  .section-description{
        text-align: center;
        padding-bottom: 30px;
        padding-top: 20px;
    }
    .banar-content{
        padding: 0;
    }
    .banar-content .btn-submit{
        margin: 0 auto;
        display: flex;
        margin-bottom: 4rem;
    }
    .frequently-section{
        padding: 16px 0 4rem 0;
    }
    .about-us-banar .about-fourth-image,
    .about-us-banar .about-third-image{
        display: none;
    }
    .about-first-image,.about-secound-image{
        text-align: center;
    }
    .about-us-banar .about-first-image{
        margin-top: 0rem;
        float: left;
    }
    .about-us-banar .about-secound-image{
        margin: 0;
        padding: 0;
    }
    .about-us-banar{
        padding: 0;
    }
    .about-us-banar .about-title {
        padding: 0 15px;
    }
    .about-us-banar .about-title .section-title{
        margin-bottom: 20px;
        margin-top: 4rem;
        font-size:48px;
    }
    .about-middle .horizontal-box,
    .about-middle .message-box{
        display: none;
    }
    .checkout-page .customer-form,
    .checkout-page .right-block{
        margin-left: 0;
    }
    
    .thank-you{
        padding: 8rem 0;
        background: url(../images/mobilebg.png) no-repeat center center, linear-gradient(316.4deg, #000000 25.61%, #841847 86.55%);
        background-size: cover;
    }
    .checkout-cart .card-body .close {
        right: 20px;
    }
    .pad-account {
        padding-left: 15px !important;
        padding-right: 15px !important;
        background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
        border: 2px solid;
        border-image-source: linear-gradient(92.97deg, #F9C5A5 5.27%, #BD517F 50.59%, #09A5A4 95.9%);
        padding: 40px 0;
        border-image-slice: 4;
        overflow: hidden;
    }
    .thank-you .section-description{
        font-size: 19px;
    }
    .slider-section{
        overflow-x: auto;
    }
    .slider-section .slider-box{
        width: 230px;
    }
    .slider-section .slider-section-group{
        display: inline-flex;
        margin: 15px 0 0 15px;
    }
    .swipe-btn{
        padding: 2rem 0;
        float: left;
        width: 100%;
        display: block;
        position: absolute;
        z-index: 2;
        text-align: right;
        bottom: 0;
    }
    
    .swipe-btn .btn-submit{
        margin-right: 30px;
    }
    .swipe-btn:before{
        content: "";
        width: 50%;
        height: 1px;
        background: #09556D;
        position: absolute;
        left: 15px;
        top: 55px;
        z-index: -1;
    }
    .listing-title{
        margin-top: 2rem;
    }
    .login-page{
        padding-top: 7rem;
        /* background: url(../images/login-mobile-bg.png) no-repeat; */
    }
    .listing-title h6.section-title{
        text-align: center;
    }
    .listing-title p.section-description{
        margin-bottom: 0;
        text-align: center;
    }
    .banar-section{
        padding-top: 8rem;
    }
    .product-detail .section-title{
        margin-top: 3rem;
    }
    .product-detail{
        padding: 2rem 0;
    }
    .pagination .page-item.button-hide{
        display:none;
    }
    .pagination .page-item.item-hide{
        display:block;
    }

    ul.pagination{
        margin-left: 10px;
    }
    .pagination .page-item.active:before{
        top: 22px;
        content: "";
        width: 10px;
        position: absolute;
        height: 1px;
        background: #F2F2F2;
        right: 45px;
        z-index: 0;
    }
    .pagination .page-item:first-child.active:before{
        width: 30px;
    }
    .user-account .menu-links ul li{
        margin-left: 0 !important;
    }
    .address-page {
        padding:35px 10px;
    }
    .address-page .edit .edit-icon{
        width:15px;
    }
    .user-account .menu-links ul li:last-child {
        padding-right: 9rem;
    }
    .user-account .menu-links ul::-webkit-scrollbar {
        width: 0px;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }
}

@media (max-width:991px) and (min-width:768px){
    .text-lg-right img{
        float: right;
    }
    .my-order-heading{
        padding-right: 0px !important;
    }
}
@media screen and (max-width:767px){
    .about-bottom-content .gradient-strip{
        text-align: center;
    }
    .user-account .menu-links ul{
        display: flex;
        overflow: auto;
    }
    .user-account .menu-links ul li{
        margin-left: 0;
    }
    .user-account .menu-links{
        margin-left: 0;
    }
    .user-account .menu-links ul li a{
        width: 185px;
    }
    .user-account .menu-links ul li{
        margin-right: 2rem;
    }
    .p-70, .p-100, .p-50, .addressBg, .account-detail, .my-account-section{
        padding: 2rem 0 5rem 0;
    }
    .user-account .menu-links{
        margin-top: 1rem;
    }
    .mobile-title{
        color: #F2F2F2;
        text-align: center;
        font-size: 56px;
        -webkit-text-fill-color: #fff;
    }
    .mobile-quantity{
        display: none;
    }
    .account-white-box .data-table td .more-detail{
        float: left;
        color: #4D4471;
        background: none;
        text-transform: uppercase;
    }
    .account-white-box .data-table td .more-detail span{
        display: none;
    }
    .account-white-box .data-table tr th{
        text-transform: uppercase;
    }
    .my-order,
    .address-page{
        margin-top: 1rem;
    }
    .account-detail .section-title{
        display: none;
    }
    .section-title{
        /* font-size: 40px; */
        /* line-height: 48px !important; */
    }
    .middle-section .right-section .uper-shape{
        width: 300px;
        float: left;
        margin-left: 6rem;
    }
    .learn-grid .section-title,
    .learn-grid .section-description,
    .about-middle .section-title{
        text-align: center;
    }
    .learn-grid{
        padding: 3rem 0;
    }
    .learn-grid .section-btn .btn-submit{
        width: 100%;
    }
    .bottom-section .message-box,
    .bottom-section .horizontal-box{
        display: none;
    }
    .bottom-section{
        padding: 2rem 0 4rem;
    }
    .bottom-section .row{
        display: flex;
        flex-flow: column-reverse;
    }
    .bottom-section .btn-submit{
        margin-bottom: 5rem;
    }
    .filter-search .sort-by{
        margin-top: 20px;
    }
    .filter-search .sort-text{
        position: absolute;
        top: -30px;
        margin-left: 10px;
    }
    .product-list .section-description{
        text-align: left;
    }
    .listing-title .section-title,
    .listing-title .section-description,
    .about-middle .section-description{
        text-align: center;
    }
    
    .pagination .btn-submit{
        font-size: 12px;
    }
    .pagination .page-item .btn-submit{
        padding: 10px 15px;
    }
    .pagination .page-item {
        margin-right: 11px !important;
    }
    .pagination .page-item span{
        display: none;
    }
    .mobile-btn{
        text-align: center;
    }
    .card-header button{
        font-size: 18px;
        padding: 0;
        font-weight: 400;
    }
    .frequently-section .accordion{
        margin-top: 2rem;
    }
    .about-middle .btn-submit{
        margin: 0 auto;
        display: flex;
        margin-bottom: 4rem;
    }
    .about-middle{
        padding: 3rem 0 0 0;
    }
    .frequently-section .frequently,
    .frequently-section .btn-submit{
        display: none;
    }
    .about-bottom .horizontal-box .white-box{
        margin: 0 auto;
    }
    .about-bottom .middle-box,
    .about-bottom .three-strip{
        margin-left: 0;
    }
    .about-bottom .horizontal-box{
        margin-bottom: 2rem;
    }
    .about-bottom{
        padding: 0;
    }
    .about-bottom-content .section-title{
        margin: 0 auto;
        text-align: center;
    }
    .about-bottom-content .section-description{
        text-align: center;
    }
    .about-bottom .pr-0{
        padding-right: 15px !important;
    }
    .about-bottom-content .white-strip .numbers,
    .about-bottom-content .white-strip .text-content{
        text-align: center;
    }
    .about-bottom-content .white-strip .text-content{
        margin-bottom: 2rem;
    }
    .about-bottom-content .btn-submit{
        margin: 0 auto;
        display: flex;
    }
    .about-bottom-content .white-strip{
        border-radius: 17px;
    }
    
    .login-page .customer-form,
    .checkout-page .mobile-box{
        padding: 10px;
        margin-bottom: 3rem;
    }

    .login-page .customer-form .re-captcha{
        text-align: center;
    }
    .login-page .section-title{
        text-align: center;
    }
    .login-page .text-content{
        font-weight: 800;
        text-align: center;
    }
    .login-page{
        padding-bottom: 0;
    }
    .checkout-page .section-description{
        display: none;
    }
    .checkout-page .section-title{
        text-align: center !important;
        margin-bottom: 2rem;
    }
    .checkout-cart .text-content{
        text-align: center;
        font-weight: 800;
    }
    .thank-you .data-description{
        margin-bottom: 3rem;
        text-align: center;
    }
    .thank-you .section-title,
    .thank-you .section-description{
        text-align: center;
    }
    .banar-section{
        padding: 4rem 0;
    }
    .mobile-title{
        display: block !important;
    }

    .about-middle .middle-section-image .lower-image{
        display: none;
    }
    .about-us-banar .about-first-image img{
        width: 280px;
    }
    .about-us-banar .about-secound-image img{
        margin-top: -44px;
    }
    .pagination .page-item:after{
        width: 10px;
        right: -10px;
    }

    .user-account .menu-links{
        width:100%;
    }
    .frequently-section .btn-submit.learn-new-thing-next{
        display: block;
        min-width: 98px;
    }
    
}
@media screen and (max-width:575px){
    .middle-section .right-section .uper-shape{
        width: 150px;
        float: left;
        margin-left: 6rem;
    }
    .footer-section{
        padding: 2rem 0;
    }
    .bottom-section img {
        height: auto;
    }
    .login-page .customer-form, .checkout-page .mobile-box{
        padding: 10px;
    }
    .mainmobile-menu .logo{
        width: 100%;
    }
    .overlay-boxify.open{
        margin-top: 83px;
    }
    .pagination .page-item .btn-submit{
        padding: 10px;
    }
    .card-body .card-title{
        font-size: 15px;
    }
    .card-data .black-title{
        margin-bottom: 2px;
    }
    .learn-grid .card-body .card-data{
        padding-top: 4px;
    }
    .pagination .page-item.item-hide{
        display:none;
    }
}

@media screen and (max-width:375px){
    .login-page {
        background: url(../images/login-mobile-bg.png) no-repeat center center, linear-gradient(180deg, #160F39 0%, #330A32 100%);
    }
    .product-list-bottom-section .horizontal-box,
    .product-list-bottom-section .message-box{
        display:none;
    }
    .product-list-bottom-section .leftAlignContent,
    .product-list-bottom-section .leftAlignContent .section-title,
    .product-list-bottom-section .leftAlignContent .section-description,
    .product-list-bottom-section .leftAlignContent .btn-submit,
    .checkout-page .container .section-title{
        text-align: center;
    }
    .about-bottom-content .section-title,
    .frequently-section .container .section-title{
        font-size: 36px;
        line-height: 44px;
    }

    

    .about-bottom .horizontal-box{
        margin-left: 0;
        margin-bottom: -16px;
    }


    .about-bottom .top-section{
        background: url(../images/about-us-bottom-top-bg.svg) no-repeat;
    }    
    
    .about-bottom .bottom-section{
        background: url(../images/about-us-bottom-bottom-bg.svg) no-repeat;
        padding: 30px 10px;
    }
    .about-bottom{
        float: none;
    }
    .checkout-page{
        background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
    }
}
@media (max-width:767px) and (min-width:376px){
    .user-account .menu-links ul li:last-child {
        padding-right: 20rem;
    }
}