@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
    font-family: 'Playfair Display', serif;
}
.no-overlay {
    overflow: hidden;
    background: rgba(0,0,0, 0.8);
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}

/******************* header ***************/
header{
    position: fixed;
    z-index: 999999;
    padding: 27.5px 0;
    float: left;
    width: 100%;
    background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
}
.top-space {
    margin-top: 98px;
}
.login-page .top-space  {
    margin-top: 80px;
}
header .login-link{
    text-decoration: none !important;
    margin-right: 10px;
}
header .login-link:hover{
    background: linear-gradient(90deg, #F9C5A5 0%, #BB4D7D 49.48%, #08A5A4 100%);
    border-radius: 30px;
    box-shadow: none;
    border: 0px;
    padding: 14px 20px 13px 20px;
    }
header .menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}
.navigation-menu ul li{
    display: inline-block;
    padding: 0 15px;
}
.navigation-menu ul{
    display: flex;
    align-items: center;
    margin: 0;
}
.navigation-menu ul li a{
    color: #FFFFFF;
    font-weight: 800;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    opacity: 0.6;
}
.navigation-menu ul li.active a,
.navigation-menu ul li:hover a{
    opacity: 1;
}
header .cart-icon{
    position: relative;
}
.mainmobile-menu .nav-toggle,
.mainmobile-menu .nav-toggle.active{
    width: 35px;
}
header .cart-icon .cart-number{
    position: absolute;
    background: linear-gradient(141.95deg, #FF9900 18.29%, #F16262 76.75%);
    color: #ffffff;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    left: 19px;
    top: -7px;
    line-height: 9px;
    text-align: center;
    font-size: 9px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    background: #C992EF;
    padding-top: 2px;
}

header #close-icon{
    display: none;
    width: 45px;
}

/******************* Home Page ***************/
.banner-section-outer{
    background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
}
.banner-section-outer section{
    display: block;
}
.banar-section{
    text-align: center;
    background: url(../images/slider-bg.svg) no-repeat;
    background-size: cover;
    background-position: center;
    padding:4rem 0 4rem 0;
    float: left;
    width: 100%;
    position: relative;
}
.banar-section-middle{
    text-align: center;
    background: url(../images/what-we-offer.svg) no-repeat;
    background-size: cover;
    background-position: center;
    padding:4rem 0 2rem 0;
    float: left;
    width: 100%;
    position: relative;
}
.section-title{
    /* background: linear-gradient(to bottom, #2992B5 0%, #09556D 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 70px;
    color: #F2F2F2;
    text-align: center;
}
.mobile-title{
    background: linear-gradient(to bottom, #2992B5 0%, #09556D 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 52px;
    line-height: 70px;
    display: none;
}
.centerSection{
    max-width: 567px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -43%);
}
.centerSection2{
    max-width: 625px;
    margin: 0 auto;
}
.centerSection3{
    max-width: 677px;
    margin: 0 auto;
}
.banar-section .section-title{
    margin: 0 auto;
    width: 100%;
    max-width: 567px;
    margin-bottom: 20px;
}
.banar-section-middle .section-title{
    margin: 0 auto;
    width: 100%;
    max-width: 567px;
    margin-bottom: 20px;
}
.section-description {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.55px;
    color: #F2F2F2;
    text-align: center;
}

.btn-Purple{
    background: #4D4471;
    padding: 10px 30px;
    border: none;
    border-radius: 100px;
    transition: all 0.5s ease;
    width: 100%;
    height: 45px;
}
.btn-submit:before{
    background: linear-gradient(to right, #f9c5a5 0%, #bd527f 49%, #09a5a4 100%);
}
.btn-submit{
    background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
    color: #FFFFFF;
    padding: 10px 18px;
    border: 2px solid;
    border-image-source: linear-gradient(92.97deg, #F9C5A5 5.27%, #BD517F 50.59%, #09A5A4 95.9%);
    text-decoration: none;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    transition: all 0.4s ease;
    border-image-slice: 4;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 14px;
}
.btn-submit:hover{
    background: #4D4471;
}
.btn-submit.more:hover {
    background: #4D4471;
    color: #F2F2F2;
}
/* .btn-submit{
    border-radius: 0em;
    padding: 10px 18px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #290b34 inset;
}
.btn-submit:hover{
    background: #4D4471;
    border: solid 3px transparent;
    } */

.btn-submit span{
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.btn-Purple span{
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
}
.btn-submit:focus{
    outline: none;
}
.btn-Purple:focus{
    outline: none;
}
.slider-section{
    float: left;
    width: 100%;
    background: linear-gradient(316.4deg, #000000 25.61%, #841847 86.55%);
}
.slider-section .slider-box{
    text-align: center;
    padding:50px 20px;
    width: 16.66%;
    float: left;
    /* border: 1px solid #D1D1D1; */
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 220px;
}

.slider-section .slider-box .image-fix{
    width: 64px;
    height: 64px;
    display: block;
    margin: 0 auto; 
    transition: all 0.3s ease;
}
.slider-section .slider-box p{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #F2F2F2;
    opacity: 0;
}
.slider-section .slider-box:hover{
    background: url("../images/be_hverBG.svg") no-repeat center center;
}
.slider-section .slider-box:hover p{
    display: block;
    transition: all 0.3s ease;
    opacity: 1;
    color: #ae7878;  
}
.slider-section .slider-box:hover .image-fix{
    margin: -20px auto 0 auto;
    transition: all 0.3s ease;
}
.swipe-btn{
   display: none;
}
.slider-box .happy-title{
    margin: 10px 0;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}
.slider-box .active-title{
    margin: 10px 0;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}
.slider-box .healthy-title{
    margin: 10px 0;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}
.slider-box .intelligent-title{
    margin: 10px 0;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}
.slider-box .safe-title{
    margin: 10px 0;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}
.slider-box .helpful-title{
    margin: 10px 0;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}
.slider-section .happy-box:after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(141.95deg, #35FFDB 18.29%, #277FA0 81.71%);
    left: 0;
    opacity: 0;
}
.slider-section .happy-box:hover:after,
.slider-section .active-box:hover:after,
.slider-section .healthy-box:hover:after,
.slider-section .intelligent-box:hover:after,
.slider-section .safe-box:hover:after,
.slider-section .helpful-box:hover:after
{
    opacity: 0;
}
.slider-section .active-box:after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(141.95deg, #F88A4C 18.29%, #FFC530 76.75%);
    left: 0;
    opacity: 0;
}
.slider-section .healthy-box:after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(141.95deg, #60DF4B 18.29%, #12A4DB 76.75%);
    left: 0;
    opacity: 0;
}
.slider-section .intelligent-box:after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(141.95deg, #C54BDF 18.29%, #811698 76.75%);
    left: 0;
    opacity: 0;
}
.slider-section .safe-box:after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(141.95deg, #CACACA 18.29%, #7E7E7E 76.75%);
    left: 0;
    opacity: 0;
}
.slider-section .helpful-box:after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(141.95deg, #C9F155 18.29%, #48C60C 76.75%);
    left: 0;
    opacity: 0;
}
.banar-vertical{
    position: absolute;
    right: 130px;
    bottom: 175px;
    text-align: left;
}
.banar-horizontal{
    position: absolute;
    left: 140px;
    top: 300px;
    text-align: left;
}
.middle-section{
    padding: 11rem 0 4rem;
    float: left;
    width: 100%;
    background: url(../images/what-we-offer.svg) no-repeat;
    background-size: cover;
    background-position: center;
}
.middle-section .section-title{
    margin-bottom: 15px;
}
.scroll-down{
    position: relative;
    transition: all 0.3s ease;
    margin-top: 80px;
}
.scroll-down a:hover{
    text-decoration: none;
    color: #000;
}
.scroll-down a{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.middle-section .right-section .uper-shape{
    width: 350px;
    float: right;
    margin-right: 50px;
}
.middle-section .message-box .white-box{
    margin: 6rem auto 0;
}
.white-box{
    background: #FFFFFF;
    box-shadow: 0px 16px 24px 3px rgba(9, 16, 84, 0.15);
    border-radius: 17px;
    width: 190px;
    padding: 10px;
}
.white-box p{
    color: #C992EF;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    margin-top: 5px;
    margin-bottom: 0;
}
.white-box p span{
    display: flex;
    font-weight: 500;
    font-size: 64px;
    color: #C992EF;
    opacity: 0.5;
}
.product-list-outer{
    background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
}
.learn-grid{
    float: left;
    width: 100%;
    /* background: url(../images/Circle-Background-light.png) no-repeat; */
    /*  */
    background:linear-gradient(180deg, #160F39 0%, #330A32 100%);
    background-size: cover;
    background-position: center;
    padding: 4rem 0;
}
.learn-grid .card:before{border-radius: 8px;}
.learn-grid .card{
    background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
    border-radius: 8px;
    position: relative;
    z-index: 2;
    display: inline-block;
    text-decoration: none;
    box-sizing: border-box;
    background-color: transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 2px solid #008000;
    border-image-source: linear-gradient(to right, #f9c5a5 0%, #bd527f 49%, #09a5a4 100%);
    border-image-slice: 2;
    
}
.learn-grid .card-body{
    margin: 5px;
    border-radius: 10px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}
.card-data .black-title a{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #797979;
}
.card-body .img-div, .card-body .card-details {
    min-height: 239px;
    max-height: 239px;
    height: 220px;
    /* min-width: 180px; */
}
figure.product-img {
    height: auto;
    width: 100%;
    min-height: 239px;
    margin-bottom: 0px;
    background-size: contain !important;
}
figure.product-img.img1 {
    background: url(../images/first-book.png) no-repeat center center;  
}
figure.product-img.img2 {
    background: url(../images/second-book.png) no-repeat center center;  
}
figure.product-img.img3 {
    background: url(../images/third-book.png) no-repeat center center;  
}
figure.product-img.img4 {
    background: url(../images/fourth-book.png) no-repeat center center;  
}
figure.product-img.img5 {
    background: url(../images/fifth-book.png) no-repeat center center;  
}
figure.product-img.img6 {
    background: url(../images/six-book.png) no-repeat center center;  
}
.learn-grid .card-body .card-data{
    padding: 8px 8px 8px 0;
}
.card-body .card-title{
    margin-bottom: 8px;
    margin-top: 8px;
    line-height: 20px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #F2F2F2;
}   
.card-body .card-title a{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.4px;
    color: #F2F2F2;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.card-data .card-description{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.2px;
    color: #F2F2F2;
    opacity: 0.5;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.card-data .price{
    background-color: #ffffff;
    text-align: center;
    padding: 2px;
    margin-top: 10px;
    height: 45px;
    line-height: 41px;
    position: absolute;
    margin: auto;
    width: calc(100% - 20px);
    bottom: 0;
}
.card-data .view{
    background: linear-gradient(141.95deg, #C54BDF 18.29%, #12A4DB 76.75%);
    border-radius: 30px;
    height: 44px;
    line-height: 40px;
    text-align: center;
    display: none;
    margin-top: 10px;
}
.card-data .view a{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    height: 44px;
    line-height: 44px;
    text-align: center;
    display: block;
    text-decoration: none;
}
.learn-grid .card:hover .card-data .view{
    display: none;
}
.learn-grid .card:hover .card-data .black-title a{
    color: #C992EF;
}
.learn-grid .card:hover .card-data .card-title a{
    background: linear-gradient(to right,#4D4471 0%,#4D4471 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.learn-grid .card-body:hover{
    background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
}
.learn-grid .card:hover .card-data .price{
    /* display: none; */
}
.product-detail .card-data .price {
    display: block !important;
    position: relative;
    width: auto;
}
.card-data .price span{
    color: #219653;
    font-weight: 800;
    font-size: 22px;
}
.learn-grid .section-btn{
  text-align: center;
  margin-top: 2rem;
}
.bottom-section{
    float: left;
    width: 100%;
    background: url(../images/product-bg-list.svg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 8rem 0;
}
.bottom-section img{
    height: min-content;
}
.bottom-section .message-box .white-box{
    margin: 0 auto;
    margin-top: 5rem;
}
.bottom-section .section-description{
    font-weight: 400;
}
.horizontal-box .white-box{
    width: 280px;
}
.bottom-section .horizontal-box {
    margin-left: -76px;
    margin-top: -59px;
}
.bottom-section .section-title{
    margin-top: 4rem;
}
.bottom-section .btn-submit{
    padding: 10px 45px;
}

.footer-section{
    background: url(../images/footerbg.svg) no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
    width: 100%;
    padding: 5rem 0;
}
.footer-section .footer-content{
    text-align: center;
}
.copyright-text{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;
}
.footer-section ul li a{
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
    font-weight: normal;
}
.footer-section .footer-title{
    color: #FFFFFF;
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
}
.footer-section ul li{
    margin-bottom: 18px;
}
.footer-section ul li:hover a{
    opacity: 0.5;
}
.contact-data .detail {
    display: flex;
    margin-bottom: 20px;
}
.contact-data .detail .icon {
    width: 10%;
    float: left;
}
.contact-data .detail p, .contact-data .detail a {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
}
.contact-data .detail p{
    float: left;
    width: calc(100% - 10%);
    margin-bottom: 0px;
}
.contact-data .detail i {
    color: #ffffff;
    font-size: 21px;
}
.contact-data .detail p .data {
    display: flex;
}

/*************************** product-listing-page ****************************/
.product-list{
    padding-top: 2rem !important;
}

.product-list-bottom-section{
    float: left;
    width: 100%;
    background: url(../images/product-list-bottom-bg.svg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 8rem 0;
}

.product-list-bottom-section .camera{
    padding-top:160px;
    padding-left:180px;
}

.product-list-bottom-section .poster{
    background: url(../images/mick-haupt-bg.png) no-repeat;
    background-size: contain;
    background-position: center;
    padding-top: 150px;
}
.product-list-bottom-section .btn-submit,
.product-list .filter-search .btn-submit{
    /* background: linear-gradient(180deg, #160F39 0%, #330A32 100%); */
    border-radius: 0;
    font-family: 'Ubuntu', sans-serif;
}

.listing-title{
    background-color: #160F39;
}
.listing-title .container h6,
.listing-title .container p{
    text-align:left;
}

.listing-title{
    float: left;
    width: 100%;
    padding: 6rem 0 0 0;
}
.listing-title .section-title{
    margin-top: 4rem;
}
.listing-title .section-description{
    /* margin-bottom: 3rem; */
}
.fild .form-control{
    border: 2px solid;
    border-image-source: linear-gradient(92.97deg, #F9C5A5 5.27%, #BD517F 50.59%, #09A5A4 95.9%);
    background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
    height: 60px;
    padding: 15px;
    color: #f2f2f2;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    border-image-slice: 4;
    overflow: hidden;
}
.fild .form-control:focus{
    box-shadow: none;
    color: #f2f2f2;
}
.fild .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f2f2f2;
    opacity: 1; /* Firefox */
  }
  
.fild .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f2f2f2;
  }
  
.fild .form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #f2f2f2;
  }
.fild select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.product-list .filter-search .container {
    background: url(../images/product-list-filter-back.svg) no-repeat left top;
    padding-top: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.product-list .filter-search .container input,
.product-list .filter-search .container select {
    border-width: 2px;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    border-image-source: linear-gradient(to right, #f9c5a5 0%, #bd527f 49%, #09a5a4 100%);
    border-image-slice: 2;
}

.product-list .filter-search .container .section-description {
    text-align: left;
}
.filter-search .sort-text{
    max-width: 60px;
    width: 100%;
    color:#FFFFFF;
    font-family: 'Ubuntu', sans-serif;
}
.filter-search .sort-by{
    display: flex;
    align-items: center;
}
.filter-search .form-group{
    position: relative;
}
.filter-search .form-group i{
    position: absolute;
    right: 21px;
    top: 21px;
    color: #FFFFFF;
    font-size: 18px;
}
.page-item:first-child .page-link{
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}
.page-item:last-child .page-link{
    border-top-right-radius: 100px !important;
    border-bottom-right-radius: 100px !important;
}
.pagination .page-item{
    margin-right:20px !important;
    position: relative;
}

.pagination .page-item.item-hide,
.pagination .page-item.button-hide{
    display:block;
}

.pagination .page-item:after{
    content: "";
    width: 20px;
    position: absolute;
    height: 1px;
    background: #F2F2F2;
    right: -20px;
    top: 50%;
    z-index: 0;
}

.pagination .page-item.active:after{
    top: 22px;
}

.pagination .page-item a{
    color: #F2F2F2;
    text-decoration: none;
}

.pagination li.active .page-link,
.pagination li:hover .page-link{
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #290b34 inset;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    opacity: 1;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 0.5rem;
}

.pagination .page-item .page-link{
    background: #FFFFFF00;
    height: 27px;
    width: 27px;
    text-align: center;
    opacity:0.3;
    border-radius: 50%;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #290b34 inset;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.4s ease;
    position: relative;
    z-index: 3;
    padding: 0px;
}
.pagination .page-item .page-link:focus{
    box-shadow: none;
}
.pagination .btn-submit{
    margin-top: 10px;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 2px;
    min-width: 175px;
    display: inline-block;
    text-align: center;
}
.pagination{
    margin-top: 3rem !important;
}

/*************************** product-deatil-page ****************************/
.leftAlignContent{
    text-align: left;
}
.leftAlignContent .section-title{
    text-align: left;
    font-size: 60px;
}
.leftAlignContent .section-description{
    text-align: left;
}
.product-detail{
    float: left;
    width: 100%;
    background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
    padding: 2rem 0 8rem;
}

.product-detail-bottom.learn-grid{
    float: left;
    width: 100%;
    background: linear-gradient(316.4deg, #000000 25.61%, #841847 86.55%);
    padding: 2rem 0 8rem;
}
.product-detail .card-data .black-title{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C992EF;
}
.product-detail .card-data .card-title{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.5px;
    color: #F2F2F2;
}
.product-detail .card-data .card-description,
.product-detail-bottom .card-data .card-description {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #F2F2F2;
    opacity: 0.5;
}
.product-detail .read-more a{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1px;
    color: #F2F2F2;
}
.product-detail .read-more .fa-caret-down{
    color:#F2F2F2;
}
.product-detail .read-more{
    margin: 5px 0 13px;
}
.product-detail .card-data .price span{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -1px;
    color: #219653;
}
.product-detail .btn-submit{
    margin-top: 10px;
    width:100%;
}
.shopping-cart .card-title{
    font-weight: 800;
    font-size: 22px;
    line-height: 32px;
}
.shopping-cart .card-body{
    padding: 25px;
}
.shopping-cart .card-body .close{
    text-decoration: none;
    position: absolute;
    right: 10px;
    top: -5px;
}
.shopping-cart .card-body .close i{
    color: #000000 !important;
}
.shopping-cart .cart-book-title{
    color: #39383A;
    font-weight: 800;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    width: 100%;
    max-width: 180px;
    text-transform: uppercase;
    margin-bottom: 3px;
}
.shopping-cart .card-data{
    padding: 0 !important;
}
.shopping-cart .border-bottom{
    border-bottom: 1px solid #DFE4EA !important;
    margin: 10px 0;
    width: 100%;
    padding: 0 15px;
}
.shopping-cart .book-title-purple{
    color: #4D4471;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Playfair Display', serif;
    width: 100%;
    max-width: 180px;
    margin-bottom: 7px;
}
.shopping-cart .btn-submit{
    width: 100%;
    margin-top: 1rem;
}
.product-detail .card-description{
    font-size: 16px;
    line-height: 23px;
}
.pagination .border-none:after{
    display: none;
}


/*************************** learn-new-things-page ****************************/
.banar-content-outer{
    /* background: linear-gradient(180deg, #160F39 0%, #330A32 100%); */
}
.banar-content{
    float: left;
    width: 100%;
    background: url(../images/learn-new-things.svg) no-repeat center center, linear-gradient(180deg, #160F39 0%, #330A32 100%);
    background-size: cover;
    background-position: center;
    padding: 3.75rem 0;
}
.banar-content .horizontal-box{
    float: right;
    margin-bottom: 50px;
}
.banar-content .message-box{
    float: right;
    margin-top: 2rem;
    margin-right: 4rem;
}

.frequently-section{
    float: left;
    width: 100%;
    background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
    padding: 4rem 0 8rem;
    text-align: center;
}
.different-bg{
    background: url(../images/about-faq-bg.svg) no-repeat;
    background-size: cover;
    width:100%;
}
.frequently-section .section-title{
    width: 100%;
    max-width: 567px;
    margin: 0 auto;
    line-height: 70px;
}
.frequently-section .card-header{
    background: linear-gradient(316.4deg, #000000 25.61%, #841847 86.55%) !important;
    border: 2px solid #F9C5A5 !important;
    border-image-source: linear-gradient(92.97deg, #F9C5A5 5.27%, #BD517F 50.59%, #09A5A4 95.9%);
    border-image-slice: 4;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-size: 22px;
}
.card-header button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-decoration: none !important;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
}
.card-header button:hover{
    color: #2992B5;
}
.card-header button:focus{
    box-shadow: none;
}
.frequently-section .card{
    margin-bottom: 20px;
    border: none;
    background: none;
    box-shadow: 0px 16px 24px 3px rgba(9, 16, 84, 0.1);
}
.frequently-section .card .card-body{
    text-align: left;
    color: #fff;
    border: 1px solid;
    border-image-source: linear-gradient(92.97deg, #F9C5A5 5.27%, #BD517F 50.59%, #09A5A4 95.9%);
    border-image-slice: 4;
    overflow: hidden;
}
.frequently-section .accordion{
    margin-top: 3rem;
}
.frequently-section .card-header i{
    color: #fff;
}
.frequently-section .frequently{
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Ubuntu', sans-serif;
    margin: 50px 0 20px;
    font-weight: 400;
}
.learn-grid.learnBgPurple{
    background: linear-gradient(316.4deg, #000000 25.61%, #841847 86.55%)!important;
}
/*************************** About-us page ****************************/
.about-us-banar{
    float: left;
    width: 100%;
    background: url(../images/about-us-bg.svg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 4rem 0 10rem 0;
}
.about-us-banar .btn-submit{
    margin-top: 2rem;
}
.about-us-banar .about-title{
    text-align: center;
    margin-bottom: 3rem;
}
.about-us-banar .about-title .section-title{
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}
.about-us-banar .about-first-image{
    margin-top: -5rem;
}
.about-us-banar .about-secound-image{
    margin-left: -6rem;
    margin-top: 5rem;
}

.about-us-banar .about-third-image{
    margin-top: 9rem;
    margin-left: 2rem;
}
.about-us-banar .about-fourth-image{
    margin-left: 2rem;
    margin-top: -1rem;
}
.about-middle{
    float: left;
    width: 100%;
    background: url(../images/about-covid19.svg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 8rem 0;
}
.about-middle .horizontal-box{
    width: 100%;
    margin-bottom: 4rem;
    display: flex;
    justify-content: flex-end;
}
.about-middle .section-title,
.about-middle .section-description {
    text-align: left;
}

.about-middle .message-box{
    margin-top: 50px;
    width:200px;
    height:auto;
}

.about-middle .message-box .white-box{
    margin-top: 3rem;
}
.about-middle .middle-section-image{
    margin-top: 150px;
    text-align: center;
}
.about-middle .middle-section-image .lower-image{
    margin-left: 8rem;
}
.about-bottom{
    float: left;
    width: 100%;
    background: url(../images/about-achieve-bg.svg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 8rem 0;
}
.about-bottom .horizontal-box .white-box p{
    color: #333333; 
    font-size: 16px;
    line-height: 24px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

.about-bottom .horizontal-box{
    margin-bottom: 5rem;
    /* margin-left: 3rem; */
}
.about-bottom .middle-box{
    /* margin-left: 6rem; */
}
.about-bottom .container-fluid{
    overflow: hidden;
}
.about-bottom .three-strip{
    /* margin-left: 6rem; */
    text-align: center;
}
.about-bottom-content .gradient-strip{
    background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
    color: #FFFFFF;
    border: 2px solid;
    border-image-source: linear-gradient(92.97deg, #F9C5A5 5.27%, #BD517F 50.59%, #09A5A4 95.9%);
    text-decoration: none;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    transition: all 0.4s ease;
    border-image-slice: 4;
    overflow: hidden;
    text-transform: uppercase;
    padding: 0 20px;
    width: 100%;
    margin: 20px 0 30px;
}
.about-bottom-content .gradient-strip .numbers{
    color: #C992EF;
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
.about-bottom-content .gradient-strip .text-content{
    color: #F2F2F2;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
.about-bottom-content .section-title,
.about-bottom-content .btn-submit{
    margin-left: 3rem;
}
.about-bottom-content .section-title{
    width: 100%;
    max-width: 600px;
    text-align: left;
}
.about-bottom-content{
    margin-top: 3rem;
}
/*************************** Contact-us page ****************************/
.contact-us{
    text-align: center;
    color: #fff;
    padding: 10rem 0 7rem 0;
    float: left;
    width: 100%;
    background:url(../images/contactus-bg.svg) no-repeat, linear-gradient(180deg, #160F39 0%, #330A32 100%);
    background-position: bottom;
}
/* .contact-bg{
    background: url(../images/contactus-bg.svg) no-repeat center center;
    background-size: 70%;
} */
.contact-us-form{
    width: 100%;
    background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
    max-width: 650px;
    border: 2px solid #008000;
    border-image-source: linear-gradient(92.97deg, #F9C5A5 5.27%, #BD517F 50.59%, #09A5A4 95.9%);
    border-radius: 8px;
    padding: 32px;
    border-image-slice: 4;
    overflow: hidden;
    margin: 0 auto;
}
.contact-us-form textarea{
    height: 110px !important;
    resize: none;
    border-radius: 8px !important;
}
.contact-us-form .contact-text{
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 2rem;
}
.contact-us .form-control{
    height: 54px;
    color: #fff;
}   
.contact-us-form .btn-submit{
    width: 100%;
    margin: 20px 0;
}

/*************************** Login page ****************************/
.login-page{
    float: left;
    width: 100%;
    padding: 6rem 0 4rem 0;
    background: url(../images/login-register-bg.svg) no-repeat;
    /* background: linear-gradient(180deg, #160F39 0%, #330A32 100%); */
    background-size: cover;
    background-position: center;
}

.login-page .section-title {
    text-align: left;
}
.fild .text-content{
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 20px;
}

.login-page .customer-form .text-content{
    color: #F2F2F2;
}

.customer-form .form-control{
    height: 54px;
    color:#F2F2F2;
}
.login-page .customer-form .btn-submit{
    width: 100%;
}

.form-checkbox{
    position: relative;
    margin-top: 30px;
}

.form-checkbox label{
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    cursor: pointer;
    height: 19px;
    width: 19px;
    left: 0;
    position: absolute;
    top: 3px;
    border-radius: 3px;
}

.form-checkbox label:after{
    border: 2px solid #000000;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 4px;
    transform: rotate(-45deg);
    width: 10px;
}

.form-checkbox input[type="checkbox"]{
    visibility: hidden;
}

.form-checkbox input[type="checkbox"]:checked + label{
    background-color:#F2F2F2;
    border-color:#F2F2F2;
}

.form-checkbox input[type="checkbox"]:checked + label:after{
    opacity: 1;
}
.form-checkbox .checkbox-text{
    color: #7a6d81;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.form-checkbox .checkbox-text a{
    font-weight: 600;
    color: #F2F2F2;
}
.login-page .customer-form .forgot-pass{
    text-align: center;
}
.login-page .customer-form .forgot-pass a{
    color: #F2F2F2;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}


/*************************** checkout-page ****************************/
.checkout-page{
    float: left;
    width: 100%;
    padding: 10rem 0 6rem 0;
    background: url(../images/checkout-bg.svg) no-repeat center center, linear-gradient(180deg, #160F39 0%, #330A32 100%);
    background-size: cover;
}
.checkout-page .container .section-title,
.checkout-page .container .section-description,
.product-detail .container .section-title,
.product-detail .container .section-description,
.product-detail-bottom .container .section-title,
.product-detail-bottom .container .section-description{
        text-align: left;
}

.checkout-page .customer-form{
    margin-left: 4rem;
}

.checkout-page .customer-form .text-content{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.5px;
    color: #F2F2F2;
}


.checkout-page .customer-form .form-control{
    border-image-source: linear-gradient(92.97deg, #F9C5A5 5.27%, #BD517F 50.59%, #09A5A4 95.9%);
    border-image-slice: 4;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #F2F2F2;
}

.product-detail .card-body{
    padding: 25px;
    background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
}
.checkout-cart .card{
    border-image-source: linear-gradient(92.97deg, #F9C5A5 5.27%, #BD517F 50.59%, #09A5A4 95.9%);
    border-image-slice: 4;    
}
.checkout-cart .card-body{
    background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
    padding: 25px;
}

.checkout-cart .card-body .card-data{
    padding: 0 8px 0 0;
}
.checkout-cart .card .card-body .card-title,
.product-detail .card .card-body .card-title,
.product-detail-bottom .card .card-body .card-title {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #F2F2F2;
}

.checkout-cart .card-data .black-title,
.product-detail .card-data .black-title,
.product-detail-bottom .card-data .black-title{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C992EF; 
}
.checkout-cart .cart-book-title,
.product-detail .cart-book-title{
    color: #F2F2F2;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Ubuntu', serif;
    width: 100%;
    max-width: 180px;
    text-transform: uppercase;
    color: #F2F2F2;
}
.checkout-cart .card-body .close {
    text-decoration: none;
    position: absolute;
    right: 0;
    top: -5px;
}
.checkout-cart .card-body .close i {
    color: #FFFFFF !important;
}

.checkout-cart .card-body .total-price .card-title,
.product-detail .card-body .total-price .card-title {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.55px;
    color: #F2F2F2;
}

.checkout-cart .book-title-purple {
    color: #F2F2F2;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Ubuntu', serif;
    width: 100%;
    max-width: 180px;
    margin-bottom: 7px;
}
.checkout-cart .border-bottom {
    border-bottom: 1px solid #DFE4EA !important;
    margin: 10px 0 20px 0;
    width: 100%;
    padding: 0 15px;
}
.checkout-page .right-block{
    margin-left: 5rem;
}
.checkout-page .btn-submit {
    width: 100%;
    margin: 1rem 0;
}
.right-block .apply-discount{
    background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
    padding:20px; 
    border:2px solid green;
    border-image-source: linear-gradient(92.97deg, #F9C5A5 5.27%, #BD517F 50.59%, #09A5A4 95.9%);
    border-image-slice: 4; 

}

/*************************** thank-you page ****************************/
.thank-you{
    float: left;
    width: 100%;
    background: url(../images/thanksyou-bg.svg) no-repeat;
    background-size: cover;
    background-position: inherit;
    padding: 15rem 0 15rem 0;
}
.thank-you .card-body {
    background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
    margin: 5px;
    padding: 50px 120px 50px 60px;
    border: 2px solid;
    border-image-slice: 4;
    overflow: hidden;

border-image-source: linear-gradient(92.97deg, #F9C5A5 5.27%, #BD517F 50.59%, #09A5A4 95.9%);


}
.thank-you .card{
    box-shadow: unset;
    border-radius: 0px;
    border: none;
    margin-left: 5rem;
    margin-right: 5rem;
    background: none;
}
.thank-you .data-description{
    color: #F2F2F2;
    font-size: 16px;
    font-family: 'Ubuntu', serif;
    font-style: normal;
    font-weight: normal;
}
.thank-you .section-description{
    margin-bottom: 10px;
    text-align: left;
}
.thank-you .section-title{
    margin-top: 3rem;
    text-align: left;
}

/*************************** My-account page ****************************/
.p-70{
    padding: 7rem 0 9rem;
}
.p-50{
    padding: 5rem 0 9rem;
}
.p-60{
    padding: 6rem 0 6rem 0;
}
.p-100{
    padding: 10rem 0 9rem;
}
.user-account{
    float: left;
    width: 100%;
    background: url(../images/user-acoountbg.svg) no-repeat;
    background-size: cover;
    padding: 10rem 0;
}
.my-orders{
    background: url(../images/my-ordersbg.svg) no-repeat;
    background-size: cover;
}
.account-detail{
    background: url(../images/user-acoountDetailsbg.svg) no-repeat; 
    background-size: cover;
    background-position: center;
}
.account-detail .menu-links > ul > li{
    margin-left: 8rem!important;
}
.account-white-box{
    background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
    border: 2px solid;
    border-image-source: linear-gradient(92.97deg, #F9C5A5 5.27%, #BD517F 50.59%, #09A5A4 95.9%);
    padding: 20px;
    border-image-slice: 4;
    overflow: hidden;
}
.account-white-box .content{
    padding: 20px;
    text-align: center;
}
.account-white-box .title{
    color: #fff;
    font-weight: 500;
    font-size: 56px;
    font-family: 'Playfair Display', serif;
    padding-top: 2rem;
    margin-bottom: 1rem;
    line-height: 63px;
}
.account-white-box .content .description{
    color: #F2F2F2;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    padding-bottom: 4rem;
    line-height: 26px;
}
.user-account .menu-links ul li a{
    background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
    color: #FFFFFF;
    padding: 10px 25px;
    margin-bottom: 20px;
    max-width: 190px;
    border: 2px solid;
    border-image-source: linear-gradient(92.97deg, #F9C5A5 5.27%, #BD517F 50.59%, #09A5A4 95.9%);
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    transition: all 0.4s ease;
    border-image-slice: 4;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 14px;
}
.user-account .menu-links ul li.active a, .user-account .menu-links ul li a:hover{
    background: #4D4471;
}

.user-account .menu-links{
    display: inline-block;
}
.user-account .menu-links ul li{
    margin-left: 9rem;
}
.user-account .menu-links.acc-details{
    margin-top: 14rem;
}

.user-account .menu-links ul.myaccount li{
    margin-left: 9rem;
}
.user-account .menu-links ul.my-address li{
    /* margin-left: 3.5rem; */
}

/*************************** My-order page ****************************/
.account-white-box .data-table{
    width: 100%;
    padding: 0 20px;
}
.my-order{
    /* padding: 20px 35px;
    margin-top: 3rem; */
}
.account-white-box .data-table th{
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #F2F2F2;
}
.account-white-box .data-table td{
    color: #F2F2F2;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.account-white-box .data-table td .more-detail{
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 15px;
    border: 2px solid;
    border-image-source: linear-gradient(92.97deg, #F9C5A5 5.27%, #BD517F 50.59%, #09A5A4 95.9%);
    background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
    float: right;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    transition: all 0.4s ease;
    border-image-slice: 4;
    overflow: hidden;
}
.account-white-box .data-table td .more-detail:hover{
    background: linear-gradient(90deg, #F9C5A5 0%, #BB4D7D 49.48%, #08A5A4 100%);
    border-radius: 30px;
    box-shadow: none;
    border: none;
}
.account-white-box .data-table td:last-child {
    float: right;
}
.pad-account {
    padding-left: 90px !important;
    padding-right: 0px !important;
}
/*************************** Address-page ****************************/
.addressBg{
    float: left;
    width: 100%;
    background: url(../images/addressBg.svg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10rem 0 15rem 0;
}
.address-page .address-title{
    color: #F2F2F2;
    font-weight: 800;
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    float: left;
    margin-bottom: 3rem;
}
.address-page{
    float: left;
    width: 100%;
    padding: 35px;
    margin-top: 3rem;
}

.address-page .edit .edit-icon{
    width: 20px;
    height: auto;
}

.address-page .edit{
    float: right;
    text-decoration: none;
}
.address-page .edit i{
    background: url('../images/pen.png') no-repeat;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}
.address-page .name{
    float: left;
    width: 100%;
}

.address-page .name{
    color: #F2F2F2;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
.address-page .description{
    color: #F2F2F2;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    margin-left: 2rem;
    float: left;
    margin-bottom: 20px;
}
.address-page .description span{
    display: flex;
    font-size: 16px;
}
.account-form .btn-submit{
    width: 100%;
    margin-top: 1rem;
}



/*RESPONSIVE MENU CSS START*/
.nav-toggle {
    z-index: 999999;
  }
  .close-menu {
    display: none;
  }
  .mainmobile-menu .active .open-menu{
    display: none;
  }
  .mainmobile-menu .active .close-menu {
    display:block;
  }
  .nav-toggle:focus {
    outline: none;
  }
  .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
    content: '';
    position: absolute;
    display: block;
    width: 35px;
    height: 5px;
    border-radius: 1px;
    background: #fff;
    cursor: pointer;
  }
  .nav-toggle span:before {
    top: -10px
  }
  .nav-toggle span:after {
    bottom: -10px
  }
  .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .nav-toggle.active span {
    background-color: transparent
  }
  .nav-toggle.active span:before, .nav-toggle.active span:after {
    top: 0
  }
  .nav-toggle.active span:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .nav-toggle.active span:after {
    top: 10px;
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
  }
  .navicon {
    position: relative;
    height: 26px;
  }
  .navicon p {
    margin: 1px 50px 0 0;
    color: #FFF;
  }
  .navicon-fixed {
    position: fixed;
    top: 59px;
    right: 143px;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
    text-align: center;
  }
/* Menu style */
.overlay nav {
    position: relative;
    padding: 20px 0px;        
  }
  .overlay nav ul {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 0% 10%;
    list-style: none;
    width: 100%;
  }
  .overlay nav ul li {
    display: block;
    padding: 10px 0px;
  }
  .overlay nav ul li:last-child {
    margin-right: 0px
  }
  .overlay nav ul li i {
    display: block;
    margin-bottom: 10px;
    font-size: 40px;
  }
  .overlay nav ul li a {
    /* background: linear-gradient(to bottom, #2992B5 0%, #09556D 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    opacity: 1;
    color: #F2F2F2;
  }
  
  /* Effects */
  .overlay-boxify {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
    margin-top: 80px;
  }
  .overlay-boxify.open {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    z-index: 99;
    margin-top: 80px;
  }
  
  .overlay-boxify.open nav ul li {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .overlay-boxify nav{
      margin-bottom: 5rem;
  }
  .overlay-boxify .login-link{
    margin-right: 0;
  } 



  /*  Slides css  */
.slide-main-container{ 
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 70px;
    background-repeat: no-repeat;
}

.stuck-btn{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
    padding: 10px 10px;
    width: 217px;
    border: 2px solid #008000;
    border-image-source: linear-gradient(92.97deg, #F9C5A5 5.27%, #BD517F 50.59%, #09A5A4 95.9%);
    border-image-slice: 4;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
}

.stuck-btn-text{
    background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
    border: 2px solid #008000;
    border-image-source: linear-gradient(92.97deg, #F9C5A5 5.27%, #BD517F 50.59%, #09A5A4 95.9%);
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 20px;
    border-image-slice: 4;
    overflow: hidden;
}
.slide-content{
    max-width: 677px;
    background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
    border: 2px solid #008000;
    border-image-source: linear-gradient(92.97deg, #F9C5A5 5.27%, #BD517F 50.59%, #09A5A4 95.9%);
    z-index: 1;
    padding: 50px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    border-image-slice: 4;
    overflow: hidden;
    font-family: Playfair Display;
}

figure.slide-img {
    margin: auto;
    text-align: right;
    min-height: 413px;
}

.slide-box {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.slide-btn{
    position: absolute;
}
.slide-right-btn{
    right: -50px;
}
.slide-left-btn{
    left: -50px;
} 

.slide-content h2{
    font-size: 64px;
    line-height: 70px; 
    text-align: center;  
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.slide-content p{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px; 
    text-align: center;
    letter-spacing: -0.5px; 
    color: #fff;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
.slide-content button{
    margin-top: 32px;
    color: #fff;
}

.slide-left-btn:before {
    content: "";
    height: 1px;
    width: 70%;
    background: #F2F2F2;
    right: -160px;
    position: absolute;
    top: 50%;
}

.slide-right-btn:before {
    content: "";
    height: 1px;
    width: 70%;
    background:#F2F2F2;
    left: -160px;
    position: absolute;
    top: 50%;
}

.fitness-img {
    margin-right: -20px;
    margin-top: -25px;
}
.wfh-img {
    margin-top: -10px;
}
.men-well {
    margin-right: 100px;
    margin-top: -50px;
}
.career-img {
    margin-top: -5px;
}
.writ-a-book-img {
    margin-top: -30px;
}
.pet-img {
    margin-top: -20px;
    margin-right: 20px;
}


/*----  Custom slider--- */
.custom-slider{
    float: left;
    width: 100%;  
    background: linear-gradient(316.4deg, #000000 25.61%, #841847 86.55%);
}
.custom-slider>section{
    display: none;
}
.custom-slider>section:first-child{
    display: block;
}
/*=================================*/
.sidenav {
    height: calc(100% - 78px);
    width: 0;
    position: fixed;
    z-index: 100;
    top: 99px;
    right: -17px;
    background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
    transition: 0.5s;
    padding-top: 60px;
    overflow-y: auto;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 63px;
    color: #FFFFFF;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    background: linear-gradient(134.7deg, rgba(255,255,255,0.2) 10.52%, rgba(255, 255, 255, 0.0) 85.75%);
    text-decoration: none;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {


  }

  .middleSectionBg{
      background: url(../images/uper_shape.svg) no-repeat center center;
      padding: 8rem 0 4rem;
      background-size: cover;
      background-position: center;
      min-height: 800px;
  }

  /*================================*/
  
  @media (min-width: 1200px){
  .container{
      width: 1224px;
  }
  .no-padding{
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
  .p-l-5{
      padding-left: 5rem !important;
  }
}

.navContact{
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 32px;
    color: #fff;
    background: linear-gradient(134.7deg, rgba(255,255,255,0.2) 10.52%, rgba(255, 255, 255, 0) 85.75%);
    padding: 20px;
}
.navContact .footer-title{
    color: #fff;
    font-size: 22px;
}
.navContact .detail{
    margin-bottom: 0px;
}
.navContact .contact-data .detail .icon{
    margin-top: 10px;
}
.navContact .contact-data .detail p a{
    padding-left: 0px;
}
.navContact .contact-data .detail p a:hover{
    background: none;
}
.sectionBotBtn{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-100%);
}
.ShowonDesktop{
    display: none;
}
.showOnMobile{
    display: inline-block;
}
.swapOwter{
    position: relative;
    float: left;
    width: 100%;
}
.sliderFordesktop{
    display: block;
}
.sliderForMobile{
    display: none;
}
@media screen and (max-width: 991px){
    .section-title {
        font-size: 52px;
        line-height: 60px;
    }
    .sectionBotBtn{
        position: static;
        bottom: 0;
        left: 0%;
        transform: translate(0%, 0%);
    }
    .centerSection {
        max-width: 567px;
        margin: 0 auto;
        position: static;
        left: 50%;
        transform: translate(0%, 0%);
    }
    .ShowonDesktop{
        display: inline-block;
    }
    .showOnMobile{
        display: none;
    }
    header .cart-icon {
        position: relative;
        display: inline-block;
        margin-left: 10px;
    }
    .overlay-boxify nav {
        margin-bottom: 0px;
    }
    .overlay-boxify.open nav ul li:last-child{
        margin-top: 5rem;
    }
    .mrCart{
        top: -10px;
    }
    header .cart-icon.mrCart .cart-number {
        left: 20px;
        top: -5px;
        height: 13px;
        width: 13px;
    }
    .banar-section{
        background: url(../images/slider-bg-mob.svg) no-repeat;
        background-size: cover;
        background-position: center;
    }
    .banar-section .ShowonDesktop{
        margin: 2rem 0px 8rem 0px;
    }
    .middle-section .section-title{
        font-size: 36px;
    }
    .middle-section{
        background: url(../images/what-we-offer-mobile.svg) no-repeat;
        background-size: cover;
        background-position: center;
    }
    .middle-section .mnLR-0{
        margin-top: 50px;
    }
    .bottom-section{
        background: url(../images/product-bg-list-mob.svg) no-repeat;
        background-size: cover;
        background-position: center;
    }
    .mt-145{
        margin-top: 125px;
    }
    .slide-content{
        background: none;
        border: 0px solid #008000;
        padding: 0px;
    }
    .slide-content h2 {
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        background: #fff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    figure.slide-img{
        min-height: auto;
    }
    .slide-box{
        display: block;
    }
    .slide-content p{
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .slider-section{
        min-height: 342px;
    }
    .sliderFordesktop{
        display: none;
    }
    .sliderForMobile{
        display: block;
    }
    .custom-slider {
        float: left;
        width: calc(100% - 50px);
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 50px;
    }
      /*  Slides css  */
  .fitnessBG{ 
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 70px;
    background-repeat: no-repeat;
  }
  .fitnessBG-slide1 {
    background:url(../images/sliderBg-mobile.svg) no-repeat, linear-gradient(316.4deg, #000000 25.61%, #841847 86.55%);;
  }
  .fitnessBG-slide2 {
    background:url(../images/wfh-bg.svg) no-repeat, linear-gradient(316.4deg, #000000 25.61%, #841847 86.55%);;
  }
  .fitnessBG-slide3 {
    background:url(../images/mental-bg.svg) no-repeat, linear-gradient(316.4deg, #000000 25.61%, #841847 86.55%);;
  }
  .fitnessBG-slide4 {
    background:url(../images/careers-bg.svg) no-repeat, linear-gradient(316.4deg, #000000 25.61%, #841847 86.55%);;
  }
  .fitnessBG-slide5 {
    background:url(../images/write-book-bg.svg) no-repeat, linear-gradient(316.4deg, #000000 25.61%, #841847 86.55%);;
  }
  .fitnessBG-slide6 {
    background:url(../images/pet-bg.svg) no-repeat, linear-gradient(316.4deg, #000000 25.61%, #841847 86.55%);;
  }
  .contact-us{
    background: linear-gradient(180deg, #160F39 0%, #330A32 100%);
    padding-bottom: 0;
  }
}